:root {
    --brand: #e74c3c;
    --panel: #34495e;
    --bg: #2c3e50;
}

body {
    background: var(--bg);
    color: #fff;
    font-family: system-ui, "Segoe UI", Arial, sans-serif;
    margin: 0;
}

.navbar {
    background: #fff;
    padding: .7rem 1rem;
}

.navbar-brand {
    color: var(--brand);
    font-weight: 700;
}

.panel.pagos-panel {
    background: var(--panel);
    border-radius: 14px;
    padding: 28px;
    margin-top: 30px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
}

.table.rounded {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.06);
}

.table thead tr {
    background: var(--brand);
}

.table thead th {
   color: #0f0909ff;
    font-weight: bold;
    border: none;
    text-align: center;
}

.table tbody td {
    text-align: center;
    color: #212529;
    border: none;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f8f9fa;
}

.btn-outline-primary {
    border-radius: 8px;
}